body{
    background-color: #009879;
    font-family: Arial;
}

.main{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 100px;
}

.box{
    background-color: white;
    width: 250px;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

input{
    width: 90%;
    padding: 10px;
    margin-top: 10px;
}

button{
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background-color: #009879;
    color: white;
    border: none;
    cursor: pointer;
}

p{
    font-size: 14px;
    margin-top: 15px;
}

span{
    color: #009879;
    cursor: pointer;
}